<h1>Dashboard</h1>
<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-sm card-body">
      <h3>Store Products: <%= @product_count %> | <%= link_to 'View', :admin_products %></h3>
    </div>
    <div class="col-sm card-body">
      <h3>Categories: <%= @category_count %> | <%= link_to 'View', :admin_products %></h3>
    </div>
  </div>
</div>
